body {
    margin: 0;
}
html {
    font-family: 'Helvetica neue', Arial, 'sans serif';
    font-size: 10px;
    background-color: #ccc;
}

/* селектори, які потрібно підставити під правила стилів */

/* правила стилів, до яких потрібно примінити селектори */
.card{
    width: 35em;
    height: 22em;
    margin: 5em auto;
    background-color: red;
    border: 0.2em solid black;
    border-radius: 1.5em;
     }
.card header {
    background-image: linear-gradient(to bottom,rgba(0,0,0,0.1), rgba(0,0,0,0));
    border-radius: 1.5em 1.5em 0 0;
    padding-left: 1em;
    font-size: 2em;
    margin-top: -25px;

}
.card footer{
    background-image: linear-gradient(to bottom,rgba(0,0,0,0), rgba(0,0,0,0.1));
    border-radius: 0 0 1.5em 1.5em;
    font-size: 1.5em;
   }
.card article img{
    max-height: 100%;
    max-width: 37%;
    float: right;
}
.card article p
{
    color: white;
    background-color: firebrick;
    height: 130px;
    padding-left: 1em;
    font-size: 1.5em;
    margin-top: -15px;
}
.card footer p
{
    padding-top: 5px;
    padding-left: 1em;
}
